abschlussbericht.aux
abschlussbericht.bbl
abschlussbericht.bcf
abschlussbericht.blg
abschlussbericht.fdb_latexmk
abschlussbericht.fls
abschlussbericht.log
abschlussbericht.out
abschlussbericht.pdf
abschlussbericht.run.xml
abschlussbericht.synctex.gz
abschlussbericht.toc
abschlussbericht.xdy
texput.log
sections/*.aux
exclude.py
gliederung.txt
_minted-*/
_minted/
.vscode/
.vscode/settings.json
vscode/
vscode/settings.json
.vscode/*
vscode/*
.vscode
vscode